.dropdown-menu-account
{
	min-width: 250px;
}

.featured-card-container > div, .slick-slide > div
{
	width: 100%;
	height: 100%;
}

.slick-track {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.product-card
{
	min-height: 100%!important;
	height: 100%;
}

.product-card-img {
	height: 70%;
	min-height: 70%;
}

.product-card-img img
{
	width: 100%;
	height: auto;
}

.product-card-details {
	height: 30%;
}

.has-megamenu .mega-menu-header .nav-link
{
	display: block;
	width: 100%;
}

.has-megamenu .mega-menu-header .open-submenu
{
	min-width: 100%;
}

.has-megamenu .icon-dropdown
{
	cursor: pointer;
}

.has-megamenu .btn-menu-back
{
	cursor: pointer;
}