/*
DEFAULT THEME
*/
:root {
	--primary-color: #00234D;
	--secondary-color: #F76B6A;
	--btn-primary-border-radius: 0.25rem;
	--btn-primary-color: #fff;
	--btn-primary-background-color: #00234D;
	--btn-primary-border-color: #00234D;
	--btn-primary-hover-color: #fff;
	--btn-primary-background-hover-color: #00234D;
	--btn-primary-border-hover-color: #00234D;
	--btn-primary-font-weight: 500;
	--btn-secondary-border-radius: 0.25rem;
	--btn-secondary-color: #00234D;
	--btn-secondary-background-color: transparent;
	--btn-secondary-border-color: #00234D;
	--btn-secondary-hover-color: #fff;
	--btn-secondary-background-hover-color: #00234D;
	--btn-secondary-border-hover-color: #00234D;
	--btn-secondary-font-weight: 500;
	--heading-color: #000;
	--heading-font-family: 'Poppins', sans-serif;
	--heading-font-weight: 700;
	--title-color: #000;
	--title-font-family: 'Poppins', sans-serif;
	--title-font-weight: 400;
	--body-color: #000;
	--body-background-color: #fff;
	--body-font-family: 'Poppins', sans-serif;
	--body-font-size: 14px;
	--body-font-weight: 400;
	--section-heading-color: #000;
	--section-heading-font-family: 'Poppins', sans-serif;
	--section-heading-font-size: 48px;
	--section-heading-font-weight: 600;
	--section-subheading-color: #000;
	--section-subheading-font-family: 'Poppins', sans-serif;
	--section-subheading-font-size: 16px;
	--section-subheading-font-weight: 400;
	--footer-bg-color: #071C1F;
}